body{
    width: 1440px;
    background-color: coral;
    text-align: center;
    
}
table{
    width: 750px;
    height: 450px;
    background-color: blueviolet;
    border-radius: 25px;
    border-style:dashed;
    border-color:turquoise;
    
}
td{
    border-style: solid;
    border-color: chocolate;
    background-color: crimson;
    text-align: center;
}
td:hover{
    border-color:yellow;
    background-color: cyan;
}

.titabla{
    background-color: black;
    color: darkgoldenrod;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
}

.titabla1{
    background-color: black;
    color: darkgoldenrod;
    border-top-right-radius: 30px;
}  
.titabla2{
    background-color: black;
    color: darkgoldenrod;   
    border-top-left-radius: 30px;
}.titabla3{
    border-bottom-right-radius: 30px;
}  
.titabla4{
    border-bottom-left-radius: 30px;
}
.col1{
    background-color: forestgreen;
}
.col2{
    background-color: rgb(85, 255, 85);
}


form{
    background-color: darkturquoise;
    border-radius: 25px;
    border-style: solid;
    width: 300px;
    height: 400px;
}