@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=DynaPuff&family=Sedgwick+Ave+Display&display=swap');
:root{
    --colorf1: red;
    --colorf2: blue;
    --colorf3: black;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}
body{
    min-width: 375px;
    max-width: 1440px;
    font-size: 14px;
    background-color: black;
    color:white;
    font-family: 'Dancing Script', cursive;
}
header{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    background-color:chartreuse;
    padding: 15px;
    text-align: center;
}
img{
    width: 150px;
}
.logotipo{

}
.icono{
    color:darkred;
    width: 50px;
    height: 50px;
    background-color: gold;
    padding: 30px;
    text-align: center;
    border-radius: 360px;
}
.slogan{
    display: flex;
    flex-direction: row;
    justify-content:center;
}