@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=DynaPuff&family=Rubik+Pixels&family=Sedgwick+Ave+Display&display=swap');
body{
    background-color: gold;
    position: relative;
}
h1{
    color: brown;
    text-align: center;
    font-family: 'Rubik Pixels';
}
p{
    color:blueviolet;
    text-align: justify;
    font-family: 'DynaPuff';
}
.imagenmodelo{
    position: absolute;
    left:440px;
    top: 350px;
}